# macOS
.DS_Store

# Xcode
build/
Derived/
xcuserdata/
*.xcuserstate

# Xcode workspace user data
RealityBadge.xcodeproj/project.xcworkspace/xcuserdata/
RealityBadge.xcodeproj/xcuserdata/

# SwiftPM
.build/

# Logs and temporary
*.log
*.swp
*.tmp

# Archives and exported products
*.xcarchive
*.ipa

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods (not used, but ignore if added)
Pods/
